@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(30, 33, 36);
}

::selection {
    background: rgb(30, 33, 36);
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #282b30;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #36393e;
}

.wrapper {
    height: 100%;
    width: 300px;
    position: relative;
}

.wrapper .menu-btn {
    position: fixed;
    left: 20px;
    top: 10px;
    background: #282b30;
    color: #fff;
    height: 45px;
    width: 45px;
    z-index: 9999;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#btn:checked~.menu-btn {
    left: 247px;
}

.wrapper .menu-btn i {
    position: absolute;
    font-size: 23px;
    transition: all 0.3s ease;
}

.wrapper .menu-btn i.fa-times {
    opacity: 0;
}

#btn:checked~.menu-btn i.fa-times {
    opacity: 1;
    transform: rotate(-180deg);
}

#btn:checked~.menu-btn i.fa-bars {
    opacity: 0;
    transform: rotate(180deg);
}

#sidebar {
    position: fixed;
    background: #36393e;
    z-index: 9998;
    height: 100%;
    width: 270px;
    overflow: hidden;
    left: -270px;
    transition: all 0.3s ease;
}

#btn:checked~#sidebar {
    left: 0;
}

#sidebar .title {
    line-height: 65px;
    text-align: center;
    background: #282b30;
    font-size: 25px;
    font-weight: 600;
    color: #f2f2f2;
    border-bottom: 1px solid #222;
}

#sidebar .list-items {
    position: fixed;
    background: #36393e;
    width: 100%;
    width: 270px;
    list-style: none;
}

#sidebar .list-items li {
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;
}

#sidebar .list-items li:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0px 10px 3px #222;
}

#sidebar .list-items li:first-child {
    border-top: none;
}

#sidebar .list-items li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 270px;
    display: block;
}

#sidebar .list-items li a i {
    margin-right: 20px;
}

#sidebar .list-items .icons {
    width: 100%;
    height: 40px;
    text-align: center;
    position: absolute;
    bottom: 100px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar .list-items .icons a {
    height: 100%;
    width: 40px;
    display: block;
    margin: 0 5px;
    font-size: 18px;
    color: #f2f2f2;
    background: #4a4a4a;
    border-radius: 5px;
    border: 1px solid #383838;
    transition: all 0.3s ease;
}

#sidebar .list-items .icons a:hover {
    background: #404040;
}

.list-items .icons a:first-child {
    margin-left: 0px;
}

.content .container {
    max-width: 880px;
    padding: 0 20px;
    margin: 10px auto;
}

.content .wrapper {
    width: 100%;
    background: #36393e;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.content .title {
    height: 90px;
    background: #282b30;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .wrapper form {
    padding: 30px 25px 25px 25px;
}

.content .wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.content .wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:focus {
    border-color: #282b30;
    box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255);
}

.content .wrapper form .row a {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row a:focus {
    border-color: #282b30;
    box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255);
}

form .row input::placeholder {
    color: #999;
}

.content .wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #282b30;
    border: 1px solid #282b30;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .wrapper form .pass {
    margin: -8px 0 20px 0;
}

.content .wrapper form .pass a {
    color: #282b30;
    font-size: 17px;
    text-decoration: none;
}

.content .wrapper form .pass a:hover {
    text-decoration: underline;
}

.content .wrapper form .button input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #282b30;
    border: 1px solid #282b30;
    cursor: pointer;
}

.content .wrapper form .button input:hover {
    color: #282b30;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

.content .wrapper form .button a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #282b30;
    border: 1px solid #282b30;
    cursor: pointer;
}

.content .wrapper form .button a:hover {
    background: #fff;
    color: #282b30;
}


.content .wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.content .wrapper form .signup-link a {
    color: #282b30;
    text-decoration: none;
}

form .signup-link a:hover {
    text-decoration: underline;
}

/* CSS Specific for STATUS */

.task.ok {
    background: #282b30;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    color: rgba(0, 255, 0, 0.671);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    text-align: center;
}

.task.error {
    background: #282b30;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    color: rgba(255, 0, 0, 0.671);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
}

.task.warning {
    background: #282b30;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    color: rgba(255, 255, 0, 0.671);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

/* CSS Specific for Firmware */
h2 {
    color: grey;
    text-align: left;
}

.container2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 20px;
    font-size: 0px;
    color: #b8b8b8;
}

.button-wrap {
    position: relative;
}

.button2 {
    display: inline-block;
    background-color: #282b30;
    border-radius: 5px;
    border: 1px double #cccccc;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button2:hover {
    background-color: white;
    color: #282b30;
}

/* th and td text must be white */
.tb_title,
.tb_body {
    color: white;
    padding: 5px;
}

/* make table scrollable */
.Logs_tb {
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}

/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    .Logs_tb,
    .tb_head,
    .tb_bhead,
    .tb_title,
    .tb_body,
    .tb_row {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .tb_head,
    .tb_row {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .tb_row {
        margin: 0 0 1rem 0;
    }

    .tb_body {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 140px;
    }

    .tb_body:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
    .tb_body:nth-of-type(1):before {
        content: "Number";
    }

    .tb_body:nth-of-type(2):before {
        content: "Timestamp";
    }

    .tb_body:nth-of-type(3):before {
        content: "Callsign";
    }

    .tb_body:nth-of-type(4):before {
        content: "Target";
    }

    .tb_body:nth-of-type(5):before {
        content: "Path";
    }

    .tb_body:nth-of-type(6):before {
        content: "Data";
    }

    .tb_body:nth-of-type(7):before {
        content: "RSSI (dBm)";
    }

    .tb_body:nth-of-type(8):before {
        content: "SNR (db)";
    }

    .tb_body:nth-of-type(9):before {
        content: "Freq Error (Hz)";
    }

}
