@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(30, 33, 36);
}

::selection {
    background: rgb(30, 33, 36);
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #282b30;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #36393e;
}

.container {
    max-width: 880px;
    padding: 0 20px;
    margin: 80px auto;
}

.wrapper {
    width: 100%;
    background: #36393e;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
    height: 90px;
    background: #282b30;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form {
    padding: 30px 25px 25px 25px;
}

.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:focus {
    border-color: #282b30;
    box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255);
}

.wrapper form .row a {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row a:focus {
    border-color: #282b30;
    box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255);
}

form .row input::placeholder {
    color: #999;
}

.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #282b30;
    border: 1px solid #282b30;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .pass {
    margin: -8px 0 20px 0;
}

.wrapper form .pass a {
    color: #282b30;
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .button input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #282b30;
    border: 1px solid #282b30;
    cursor: pointer;
}

.wrapper form .button a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #282b30;
    border: 1px solid #282b30;
    cursor: pointer;
}

form .button a:hover {
    background: #fff;
    color: #282b30;
}

form .button input:hover {
    background: #fff;
    color: #282b30;
}

.wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.wrapper form .signup-link a {
    color: #282b30;
    text-decoration: none;
}

form .signup-link a:hover {
    text-decoration: underline;
}

/* For every <p> class="task ok" align text center */
.task.ok {
    background: #282b30;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    color: rgba(0, 255, 0, 0.671);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    text-align: center;
}

/* For every <p> class="warning" make a box put color in red and bold*/
.warning {
    background: #282b30;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    color: rgba(255, 0, 0, 0.671);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
}

/* For every <p> class="task warning" make a box put color in yellow*/
.task.warning {
    background: #282b30;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    color: rgba(255, 255, 0, 0.671);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

/* Every h2 must be left and grey */
h2 {
    color: grey;
    text-align: left;
}

.container2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 20px;
    font-size: 0px;
    color: #b8b8b8;
}

.button-wrap {
    position: relative;
}

.button2 {
    display: inline-block;
    background-color: #282b30;
    border-radius: 5px;
    border: 1px double #cccccc;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button2:hover {
    background-color: white;
    color: #282b30;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

/* th and td text must be white */
th,
td {
    color: white;
    padding: 5px;
}

/* make table scrollable */
table {
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}

/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 140px;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
    td:nth-of-type(1):before {
        content: "Number";
    }

    td:nth-of-type(2):before {
        content: "Timestamp";
    }

    td:nth-of-type(3):before {
        content: "Callsign";
    }

    td:nth-of-type(4):before {
        content: "Target";
    }

    td:nth-of-type(5):before {
        content: "Path";
    }

    td:nth-of-type(6):before {
        content: "Data";
    }

    td:nth-of-type(7):before {
        content: "RSSI (dBm)";
    }

    td:nth-of-type(8):before {
        content: "SNR (db)";
    }

    td:nth-of-type(9):before {
        content: "Freq Error (Hz)";
    }

}
